:root {
  --color-bg: hsl(180, 25%, 11%);
  --color-surface: hsl(180, 21%, 22%);
  --primary: hsl(310, 77%, 79%);
  --secondary: hsl(50, 79%, 77%);
  --text: hsl(0, 0%, 95%);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
